.event-org-logo {
  max-height: 10em;
  width: 10em;

  @media screen and (min-width: $mobile-breakpoint) {
    float: right;
    height: auto;
    width: 100%;
  }
}

.event-org-logo-container {
  @media screen and (max-width: $mobile-breakpoint) {
    text-align: center;
  }
}

.event-list-profile-photo {
  // margin-top: -8em;

  @media screen and (min-width: $mobile-breakpoint) {
    margin-top: 0;
  }
}

.title {
  text-align: right;
  margin-top: 3px;

  a:link,
  a:visited,
  a:hover,
  a:active {
    color: $text-color;
  }
}

.logo {
  margin-top: 9px;
  max-height: 34px;
}

.list-wrap div:first-of-type {
  padding-top: 0;
}

.row.event-list-item {
  padding-top: 1.5em;

  @media screen and (max-width: $mobile-breakpoint) {
    padding-bottom: .5em;
    padding-top: .5em;
  }

  p, a {
    @media screen and (max-width: $mobile-breakpoint) {
      margin-bottom: 0;
    }
  }
}

.row.event-list-item.photo {
  @media screen and (max-width: $mobile-breakpoint) {
    flex-direction: row;
  }
}

.is-tracked {
  font-size: .4em;
  text-transform: uppercase;
  margin-left: 1em;
  border-radius: 5px;
  background: $main-color;
  color: white;
  padding: .3em .6em;
  letter-spacing: .1em;
}



// Map
.map-embed {
  width: 100%;
  height: 300px;
  border: 0;
}

.month-boxes.row {
  flex-direction: row;
}

.month-box {
  text-align: center;
}

.map-container {
  background-color: $white;
  background-image: url('/images/map-placeholder.jpg');
  background-size: cover;
  height: 300px;
  width: 100%;
  max-width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: $white;

  @media screen and (min-width: $mobile-breakpoint) {
    height: 300px;
  }
}

.more {
  margin-top: 1rem;
}

.show-event .share {
  background-color: #1DA1F2;
  border-color: darken(#1DA1F2, 5%);
  transition: background-color linear .2s;
}

.show-event .share:hover {
  background-color: darken(#1DA1F2, 10%);
  transition: background-color linear .2s;
}
