//---------- Google fonts ----------\\
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  src: local('Roboto Light'), local('Roboto-Light'), local('sans-serif-light'), url(https://fonts.gstatic.com/s/roboto/v15/Hgo13k-tfSpn0qi1SFdUfZBw1xU1rKptJj_0jans920.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: local('Roboto Bold'), local('Roboto-Bold'), local('sans-serif'), url(https://fonts.gstatic.com/s/roboto/v15/d-6IYplOFocCacKzxwXSOJBw1xU1rKptJj_0jans920.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

//---------- Global Styles ----------\\
body {
  margin: 0;
  overflow-x: hidden;
  color: #606c76;
  font-family: 'Roboto', -apple-system,".SFNSText-Regular","San Francisco",Oxygen,Ubuntu,Roboto,"Segoe UI","Helvetica Neue","Lucida Grande", sans-serif;
}

input[type=text],
input[type=email] {
  font-size: initial;

  &:disabled {
    background-color: lightgrey;
  }
}

a.disabled {
  background-color: lightgrey;
}

.main {
  margin-top: 5.2em;
  min-height: 100vh;
}

.container {
  max-width: 800px;
}

.pull-right {
  float: right;
}

.pull-right::after {
  clear: both;
}



.button-disabled {
  background-color: grey;
  border: .1rem solid #000;
}

.button.danger {
  background-color: $danger-red;
  border-color: lighten($danger-red, 10%);
}

.button.success {
  background-color: $success-green;
  border-color: lighten($success-green, 10%);
}



.center {
  text-align: center;
}

.divider {
  border: 0;
  border-top: .1rem solid #f4f5f6;
  margin: .5rem auto;
  width: 50vw;
}

.row .column.full-width {
  @media screen and (max-width: $mobile-breakpoint) {
    max-width: 100%;
    flex: 0 0 100%;
  }
}



// Loader
.loader,
.loader:before,
.loader:after {
  border-radius: 50%;
  width: 2.5em;
  height: 2.5em;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation: load7 1.8s infinite ease-in-out;
  animation: load7 1.8s infinite ease-in-out;
}
.loader {
  color: $text-color;
  font-size: 10px;
  margin: 80px auto;
  margin-top: 45vh;
  position: relative;
  text-indent: -9999em;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}
.loader:before,
.loader:after {
  content: '';
  position: absolute;
  top: 0;
}
.loader:before {
  left: -3.5em;
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}
.loader:after {
  left: 3.5em;
}
@-webkit-keyframes load7 {
  0%,
  80%,
  100% {
    box-shadow: 0 2.5em 0 -1.3em;
  }
  40% {
    box-shadow: 0 2.5em 0 0;
  }
}
@keyframes load7 {
  0%,
  80%,
  100% {
    box-shadow: 0 2.5em 0 -1.3em;
  }
  40% {
    box-shadow: 0 2.5em 0 0;
  }
}
