.org-grid {
  display: grid;
  grid-template-columns: 33.3% 33.3% 33.3%;

  @media screen and (min-width: $mobile-breakpoint) {
    grid-template-columns: 20% 20% 20% 20% 20%;
  }

  .item {
    padding: .6em;
    padding-bottom: 1em;
    text-align: center;

    img {
      max-height: 105px;

      @media screen and (min-width: $mobile-breakpoint) {
        max-height: 123px;
      }
    }

    &.tracked img {
      filter: none;

    }

    &.untracked img {
      filter: grayscale(100%);
    }

    @media screen and (min-width: $mobile-breakpoint) {
      padding: .9em;
    }

    .button {
      padding: 0 2rem;
    }

    p {
      font-weight: 700;
      margin-bottom: 0.5rem;
      text-align: left;
      min-height: 3.3em;

      @media screen and (max-width: $mobile-breakpoint) {
        font-size: 0.9em;
      }
    }
  }
}

.org-logo {
  height: 100px;
  max-height: 100px;
  max-width: 100px;
  width: 100px;
}
