.profile-photo {
  border-radius: 50%;
  border: 2px solid $main-color;
  height: 200px;
  max-height: 200px;
  max-width: 200px;
  width: 200px;
}

.profile-photo-container {
  padding-bottom: 1em;
}

.popover {
  height: 40em;
  width: 40em;
  background-color: #fff;
  margin: auto;
  z-index: 100;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  padding: 20%;

  @media screen and (max-width: $mobile-breakpoint) {
    height: 90vh;
    width: 100vw;
  }
}
