$mobile-breakpoint: 40rem;
$tablet-breakpoint: 80rem;
$desktop-breakpoint: 120rem;

$text-color: #606c76;
$main-color: #9b4dca;
$alt-main-color: pink;
$hover-color: #606c76;


$success-green: green;
$danger-red: red;
