$mobile-breakpoint: 40rem;
$tablet-breakpoint: 80rem;
$desktop-breakpoint: 120rem;

$text-color: #606c76;
$main-color: #9b4dca;
$hover-color: #606c76;

// Google fonts

// latin
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  src: local('Roboto Light'), local('Roboto-Light'), local('sans-serif-light'), url(https://fonts.gstatic.com/s/roboto/v15/Hgo13k-tfSpn0qi1SFdUfZBw1xU1rKptJj_0jans920.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: local('Roboto Bold'), local('Roboto-Bold'), local('sans-serif'), url(https://fonts.gstatic.com/s/roboto/v15/d-6IYplOFocCacKzxwXSOJBw1xU1rKptJj_0jans920.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

body {
  font: 1em 'Roboto', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
  margin: 0;
  overflow-x: hidden;
}

.container {
  max-width: 80em;
}

.pull-right {
  float: right;
}

.pull-right::after {
  clear: both;
}

.button-disabled {
  background-color: grey;
  border: .1rem solid #000;
}



#user-menu {
  display: flex;
  justify-content: center;
  padding-top: 1em;
  padding-bottom: 1em;
  border-bottom: 2px solid grey;

  .button-nav {
    transition: color .2s;
    display: block;
    width: 10em;

    background-color: $main-color;
    border: .1rem solid $main-color;
    background: $main-color;
    border-radius: .4rem;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-size: 1.1rem;
    font-weight: 700;
    height: 3.8rem;
    letter-spacing: .1rem;
    line-height: 3.8rem;
    padding: 0 3rem;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    white-space: nowrap;
  }

  a.button-nav:hover {
    background-color: #606c76;
    border-color: #606c76;
    color: #fff;
    outline: 0;
  }

  .menu-profile-links {
    text-align: center;
    width: 50%;
    margin-top: 2em;
  }
}



.title {
  text-align: right;
  margin-top: 3px;

  a:link,
  a:visited,
  a:hover,
  a:active {
    color: $text-color;
  }
}

.logo {
  max-height: 34px;
  margin-top: 9px;
}




.month-boxes.row{
  flex-direction: row;
}

.month-box {
  text-align: center;

  &.current {
    a {
      background-color: pink;
    }
  }
}

// CSS Menu based upon https://www.sitepoint.com/pure-css-off-screen-navigation-menu/
.navigation {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 0;
  list-style: none;
  background: #111;
}

.nav-item {
  width: 250px;
  border-top: 1px solid #111;
  border-bottom: 1px solid #000;
}

.nav-item a {
  display: block;
  padding: 1em;
  background: linear-gradient(135deg, rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%);
  color: #fff;
  font-size: 1.2em;
  text-decoration: none;
  transition: color 0.2s, background 0.5s;
}

.nav-item a:hover {
  color: #c74438;
  background: linear-gradient(135deg, rgba(0,0,0,0) 0%,rgba(75,20,20,0.65) 100%);
}

.site-wrap {
  min-height: 100%;
  min-width: 100%;
  background-color: white;
  position: relative;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  overflow-y: scroll;
  height: 100vh;
}

.nav-trigger {
  position: absolute;
  clip: rect(0, 0, 0, 0);
}

label[for="nav-trigger"] {
  position: fixed;
  left: 15px; top: 15px;
  z-index: 2;

  height: 30px;
  width: 30px;
  cursor: pointer;
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' version='1.1' x='0px' y='0px' width='30px' height='30px' viewBox='0 0 30 30' enable-background='new 0 0 30 30' xml:space='preserve'><rect width='30' height='6'/><rect y='24' width='30' height='6'/><rect y='12' width='30' height='6'/></svg>");
  background-size: contain;
}

.nav-trigger + label, .site-wrap {
  transition: left 0.2s;
}

.nav-trigger:checked + label {
  left: 265px;
}

.nav-trigger:checked ~ .site-wrap {
  left: 250px;
}


.popover {
  height: 40em;
  width: 40em;
  background-color: #fff;
  margin: auto;
  z-index: 100;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  padding: 20%;

  @media screen and (max-width: $mobile-breakpoint) {
    height: 90vh;
    width: 100vw;
    }
}
