<% include ../partials/header %>

      <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
        <h1 class="page-header">New Organisation</h1>

        <div class="row">

          <div class="col-xs-12">
            <form action="/admin/organisations" method="POST">
              <div class="form-group">
                <label for="Source">Source</label>
                <select class="form-control" name="source" id="source">
                  <option value="meetup">Meetup</option>
                  <option value="eventbrite">Eventbrite</option>
                </select>
              </div>

              <div class="form-group">
                <label for="name">Name</label>
                <input type="text" class="form-control" id="name" name="name"
                       placeholder="Name"/>
              </div>

              <div class="form-group">
                <label for="id">ID</label>
                <input type="text" class="form-control" id="id" name="id"
                       placeholder="1243598236"/>
              </div>

              <div class="form-group">
                <label for="twitterHandle">Twitter Hadle</label>
                <input type="text" class="form-control" id="twitterHandle" name="twitterHandle"
                       placeholder="@funky_name"/>
              </div>

              <div class="form-group">
                <label for="logoURL">Logo URL</label>
                <input type="text" class="form-control" id="logoURL" name="logoURL"
                       placeholder="https://some.url"/>
              </div>

              <div class="form-group">
                <label for="website">Website</label>
                <input type="text" class="form-control" id="website" name="website"
                       placeholder="https://acoolwebsite.com"/>
              </div>

              <a href="/admin/organisations" class="btn btn-danger">Cancel</a>
              <button type="submit" class="btn btn-sucess">Submit</button>
            </form>

          </div>

        </div>

      </div>

<% include ../partials/footer %>
